@import url("https://fonts.googleapis.com/css2?family=Big+Shouldersf+Display:wght@400;700&family=Lexend+Deca&display=swap");
:root {
  --clr-primary: hsl(31, 77%, 52%);
  --clr-secondary: hsl(184, 100%, 22%);
  --clr-tertiary: hsl(179, 100%, 13%);
  --clr-white: hsla(0, 0%, 100%, 0.75);
  --clr-grey: hsl(0, 0%, 95%);
  --fs-default: 1.5em;
  --ff-primary: 'Lexend Deca',arial, sans-serif;
  --ff-secondary: 'Big Shoulders Display', 'cursive', sans-serif; }

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-family: var(--ff-primary); }

main {
  height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center; }

.container {
  max-width: 114rem;
  width: 55%;
  border-radius: 5px;
  overflow: hidden;
  display: flex; }

.card {
  padding: 3rem; }
  .card--1 {
    background-color: var(--clr-primary); }
  .card--2 {
    background-color: var(--clr-secondary); }
  .card--3 {
    background-color: var(--clr-tertiary); }
  .card__heading {
    color: var(--clr-grey);
    font-size: 2.5rem;
    font-weight: 700;
    font-family: car(--ff-secondary);
    text-transform: uppercase;
    margin-top: 2rem; }
  .card__paragraph {
    color: var(--clr-grey);
    line-height: 1.6;
    font-size: var(--fs-default);
    margin-top: 2.5rem;
    width: 90%; }

.btn, .btn:link, .btn:visited {
  display: inline-block;
  text-decoration: none;
  background-color: var(--clr-grey);
  border-radius: 99px;
  border: 2px solid var(--clr-grey);
  padding: 1rem 2rem;
  margin-top: 5rem;
  font-weight: 700;
  font-size: var(--fs-default);
  text-transform: capitalize; }

.btn--1 {
  color: var(--clr-primary); }

.btn--2 {
  color: var(--clr-secondary); }

.btn--3 {
  color: var(--clr-tertiary); }

.btn:hover {
  background-color: transparent;
  color: var(--clr-grey);
  cursor: pointer; }

@media screen and (max-width: 1050px) {
  .container {
    width: 70%; } }

@media screen and (max-width: 800px) {
  .container {
    margin: 4rem 10rem;
    width: 95%;
    flex-direction: column; }
  .card {
    padding: 3.5rem; } }

@media screen and (max-width: 500px) {
  .container {
    margin: 4rem 2.5rem; } }
